<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Reviews</title>
  <link rel="stylesheet" type="text/css" href="employee style3.css">
</head>
<body>

    <div class="feedback-form">
        <h2>Personal Reviews</h2>
        <form action="/thankyou" method="post">
    
    
            <label>1.How would you like the team collaboration?</label>
            <div class="rating-buttons">
              <input type="radio" id="rating5" name="collab" value="0" required>
              <label for="rating1">   0   </label>
      
              <input type="radio" id="rating1" name="collab" value="1" required>
              <label for="rating1">   1   </label>
      
              <input type="radio" id="rating3" name="collab" value="2" required>
              <label for="rating2">   2   </label>
      
              <input type="radio" id="rating3" name="collab" value="3" required>
              <label for="rating3">   3   </label>
      
              <input type="radio" id="rating4" name="collab" value="4" required>
              <label for="rating1">   4   </label>
              
              <input type="radio" id="rating5" name="collab" value="5" required>
              <label for="rating5">   5   </label>
            </div>
            <br>
            <label for="team-environment">2.How well do you rate the team environment?</label>
            <div class="rating-buttons1">
              <input type="radio" id="terating0" name="team-environment" value="0" required>
              <label for="terating0">   0   </label>
      
              <input type="radio" id="terating1" name="team-environment" value="1" required>
              <label for="terating1">   1   </label>
      
              <input type="radio" id="terating2" name="team-environment" value="2" required>
              <label for="terating2">   2   </label>
      
              <input type="radio" id="terating3" name="team-environment" value="3" required>
              <label for="terating3">   3   </label>
      
              <input type="radio" id="terating4" name="team-environment" value="4" required>
              <label for="terating4">   4   </label>
              
              <input type="radio" id="terating5" name="team-environment" value="5" required>
              <label for="terating5">   5   </label>
            </div>
        </br>
            
    
    
    <label for="rate-experience">4. How would you like to rate your experience in the company? </label>
            <div class="rating-buttons1">
              <input type="radio" id="rerating0" name="rate-experience" value="0" required>
              <label for="rerating0">   0   </label>
      
              <input type="radio" id="rerating1" name="rate-experience" value="1" required>
              <label for="rerating1">   1   </label>
      
              <input type="radio" id="rerating2" name="rate-experience" value="2" required>
              <label for="rerating2">   2   </label>
      
              <input type="radio" id="rerating3" name="rate-experience" value="3" required>
              <label for="rerating3">   3   </label>
      
              <input type="radio" id="rerating4" name="rate-experience" value="4" required>
              <label for="rerating4">   4   </label>
              
              <input type="radio" id="rerating5" name="rate-experience" value="5" required>
              <label for="rerating5">   5   </label>
            </div>
    
    

    </br>
    <label for="meetingOption">6. Select the person you want to have a one-on-one meeting with:</label><br>
        <div>
        <input type="radio" id="hr" name="meetingOption" value="HR" required>
        <label for="hr">HR</label><br>

        <input type="radio" id="manager" name="meetingOption" value="Manager" required>
        <label for="manager">Manager</label><br>

        <input type="radio" id="deptHead" name="meetingOption" value="DeptHead" required>
        <label for="deptHead">Department Head of Another Department</label><br>

        <input type="radio" id="na" name="meetingOption" value="NA" required>
        <label for="na">N/A</label><br>
    </div>

      
    </br>
    <div>
   
      <a href="/thankyou">Submit</button>


    </form>


</body>
</html>