
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
  }
  
  .feedback-form {
    background-color: #fff;
    padding: 100px;
    max-width: 5000px;
    width: 100%;

  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  select,
  textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid blue;
    border-radius: 4px;
  }
  


  .next {
    text-align: right; 
    margin-top: 20px;
  }
  .button-link {
    display: inline-block;
    background-color: #007bff;
    color: #fff; 
    text-decoration: none; 
}

.button-link:hover {
    background-color: green; 
}