<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />
</head>
<body>
<form action="/form" method="post">
    <div class="imgcontainer">
    
      <img src="{{ url_for('static', filename='images/hrconnect.jpg') }}" alt="Avatar" class="avatar">
      <h1>HR Network</h1>
    </div>
  
    <div class="container">
      <label for="eid"><b>Employee ID:</b></label>
      <input type="text" placeholder="Enter employee id" name="eid" id="eid" required>
    
      
    </div>
  
    <div>
   
      <a href="/form">Submit</a>

        
      </div>



  </form>
</body>
</html>
