<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>
<body>
<form action="/form" method="post">
    <div class="imgcontainer">
    
      <img src="HR Connect.png.jpg" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="eid"><b>Employee ID:</b></label>
      <input type="text" placeholder="Enter employee id" name="eid" id="eid" required>
    
      
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      
    </div>
    <div>
   
      <a href="/form">Submit</a>



  </form>
</body>
</html>
